// Author: Able Sense Media
// Navigation Styles
#you-are-here-text {
	// used to add text into .active-trail (current page link)
	// while allowing drupal to swap between english and french
	position: absolute;
	left: -9999em;
}

.skip-links {
	height:0;
	position:absolute;
	width:100%;
	z-index:2;

	.skip-to-link{
		background:#2750a0;
		color:#fff;
		display:block;
		font-weight:bold;
		margin:.5em auto;
		padding:.5em;
		position:absolute;
		text-align:center;
		top:-9em;
		width:12em;
		
		&:focus{
		position:static;
		text-decoration:underline
		}
		
		&:visited{
		color:#fff
		}
	
	}	
	
}
	

.header,
.navigation {
	float: left;
	width: 100%;

	&, a {
		color: $navbar-default-color;
	}
}

.header {
	overflow: hidden;
	position: relative;

	&-container {
		// Angles in the top right of the header
		form:before,
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			right: -9988em;
			width: 9999em;
			height: 99em;
			background: $cyan;
			opacity: .5;
			@include skewX(-30deg);
		}

		form:before {
			top: -200%;
			right: -1000%;
			height: 400%;
			width: 1180%;
			margin: 0 -22em;
			opacity: .15;
		}

		&:before {
			margin: 2em 44em;
		}

		&:after {
			margin: 3em 48em;
		}

	}

	&:after {
		content: '';
		float: left;
		width: 100%;
		height: 1.6em;
		background: $blue;
	}
	
	&.nonav {
	border-bottom: 10px solid $blue;
	}
}

.navigation {
	background: $blue;

	& > .menu > .first {
		white-space: nowrap;
	}

	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		float: left;
		width: 100%;
		z-index: 9999;
		animation: fade-in .4s;

		li {
			position: relative;
			float: left;
			margin: 0;

			&.active-trail.first {
				.active-trail {
					span {
						color: #fff;
					}

					&:after {
						height: 0;
					}

					&:hover, &:focus {
						span {
							color: $yellow;
						}

						&:after {
							height: .25em;
						}
					}
				}
			}

			a {
				float: left;
				width: 100%;
				padding: .75em 1.5em;
				background: $darkestblue;
				@include transition(background .35s);

				&:hover {
					color: $yellow;
					color: $lightestblue;
					background: darken($darkestblue, 5%);
				}

				&.active-trail.first {
					&:after {
						background: $lightestblue;
					}
				}

				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					height: 0;
					width: 100%;
					background: $lightestblue;
					@include transition(all .2s);
					transform: translateZ(0);
				}

				&:hover,
				&:focus,
				&.active-trail {
					&:after {
						height: .25em;
					}
				}

				&.active-trail.first {
					&:after {
						height: 1em;
					}
				}

				&:focus, &:active,
				&.active-trail,
				&.active-trail.first:active {
					outline: none;
					@include transition(all .03s);

					span {
						color: $yellow;
					}

					&:after {
						background: $yellow;
					}
				}

				&.active-trail.first {
					span {
						color: #fff;
					}
				}
			}

			span {
				display: inline-block;
			}

			a, .summary {
				font-size: 1em;
			}

			a, &.active-trail.first a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

@media only screen and (min-width: $screen-sm) {
	.skew {
		.menu {
			@include skewX_translateZ(-30deg, 0);

			li {
				a {
					span {
						@include skewX_translateZ(30deg, 0);
					}
				}
			}
		}
	}

	.header {
		&:after {
			display: none;
		}

		.container {
			&, form {
				position: relative;
			}
		}
	}

	.navigation {
		position: relative;
		margin-top: .5em;
		border: none;
		background: $blue;

		.menu {
			li {
				text-align: center;

				&:first-of-type,
				&.active-trail.first {
					a {
						margin-left: -1.35em;
						background: $blue;
					}
				}
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			background: $blue;
		}

		&:before {
			margin-left: 1px;
			left: -8888em;
			width: 8888em;
		}

		&:after {
			margin-right: 1px;
			right: -8888em;
			width: 8888em;
		}
	}
}

// Styles for angles in the background
@media only screen and (max-width: $screen-sm) {
	.header {
		.container {
			padding: 0;

			form:before,
			&:before,
			&:after {
				right: auto;
				margin: 0;
				width: 200%;
			}

			form:before {
				display: none;
			}

			&:after {
				margin: 1em -3em;
			}
		}
	}
}

// Styles for angles in the background
@media only screen and (max-width: $screen-xs) {
	.header {
		.container {
			&:before {
				margin: 0 -11em;
			}

			&:after {
				margin: 1em -13.5em;
			}
		}
	}
}