// Author: Able Sense Media

// Headline Module
$headline-time: .8s;
$angles-time: $headline-time + .5;

.hero-headline-container {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 400px;
	background: $darkestblue no-repeat top/100%; // 100% is a fallback for cover
	background-size: cover;
	transform: translateZ(0); // Fixes text rendering

	img { // fallback for no javascript
		float: left;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}

.hero-angles {
	position: absolute;
	top: -33.333%;
	left: 10em;
	width: 10em;
	height: 100%;
	@include rotate_skewX(60deg, 30deg);
	opacity: .5;
	@include backface-visibility(hidden); // Fixes anti-aliasing and gradient banding

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom,
					rgba(0, 50, 98, 1) 0%,
					rgba(0, 174, 239, .5) 100%);
		@include animation(from_top_25-delay $angles-time);
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 150%;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom,
					rgba(0, 174, 239, 1) 80%,
					rgba(0, 88, 164, 1) 80%,
					rgba(0, 88, 164, .1) 100%);
		opacity: .75;
		@include animation(from_top_25-delay $angles-time);
	}
}

.hero-graphics {
	position: absolute;
	top: 0;
	right: 0;
	width: 110%;
	height: 100%;
	@include skewX(30deg);

	.hero-background {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 200%;
		height: 100%;
		background: #fff;
	}

	&:before {
		position: absolute;
		right: 0;
		bottom: -65%;
		width: 6em;
		height: 400%;
		margin-right: 3em;
		background: linear-gradient(to bottom,
					rgba(0, 50, 98, 1) 30%,
					rgba(0, 174, 239, .75) 80%,
					rgba(0, 174, 239, 0) 100%);
		opacity: .75;
		@include animation(from_top_25-delay $angles-time);
	}

	&:after {
		float: right;
		right: 0;
		width: 3em;
		height: 400%;
		top: 0;
		transform: translateY(-100%);
		background: linear-gradient(to bottom,
					rgba(0, 50, 98, 1) 70%,
					rgba(0, 174, 239, 1) 100%);
		opacity: .5;
		@include animation(from_top_25-delay $angles-time);
	}

	&:before,
	&:after {
		content: '';
		@include backface-visibility(hidden); // Fixes anti-aliasing
	}
}

.hero-headline {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	padding: 2em 2.5em;
	width: 29em;
	@include animation(from_left $headline-time cubic-bezier( 1, .5, .3, 1.2 ));

	h1, p {
		text-align: left;
		position: relative;
		margin: 0;
		max-width: 27em;
		@include animation(from_left $headline-time + .1 cubic-bezier( 1, .5, .3, 1.1 ));
	}

	h1 {
		max-width: 13.25em;
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.hero-headline {
		padding: 1.25em .75em;
		width: auto;
		width: 95%;

		h1, p {
			text-align: left;
			position: relative;
			margin: 0;
			max-width: 85%;
			@include animation(from_left $headline-time + .1 cubic-bezier( 1, .5, .3, 1.1 ));
		}

		h1 {
			max-width: 85%;
		}
	}

	.hero-graphics {
		.hero-background {
			right: -1em;
		}
	}
}

@media only screen and (min-width: $screen-lg) {
	.hero-headline-container {
		text-align: center;

		.hero-graphics {
			left: -66.666%;
		}

		.hero-headline {
			width: 1170px;
			padding-left: 1em;
		}
	}
}