.pattern-container {margin: 30px; text-align: left;}

#patternlab-header {background: #3fbced url(img/patternlab-bg-header.svg) top left no-repeat; background-size: 2713px 339px; min-height: 100px; width: 100%; margin: 0; padding: 0;}
#patternlab-header .main-link {float: right; color: #000; margin: 2em; font-size: 1.25em}
#patternlab-header .main-link a {color: #000; text-decoration: none; border: 1px solid #2750a0; background: #3fbced; padding: .5em; border-radius: 6px;}
#patternlab-header .main-link a:hover {color: #fff; background: #2750a0;}

.pattern {
    clear: both;
    overflow: visible;
    display: block;
    padding-top: 1em;

}
.pattern .display {
    width: 65%;
    float: left;
}
.pattern .source {
    width: 30%;
    float: right;
}
.pattern .source textarea {
    width: 90%;
}

.ui-categories li {}

.bootsample div {border: 1px solid #ccc; background: #f5f5f5;}

h1.pl-title {font-family: 'PT Serif', Georgia, serif; font-weight: normal; margin-bottom: 1.5em;}

h2.section {background: #333; color: #fff; padding: 20px; clear: both; display: block; margin: 2em auto; text-transform: uppercase;}

/* @group Typography */

html {
	background-color: #fff;
}


footer.footer {background: #0058a4 url(img/bg-footer.svg)}

button.search-box-button {background-image: url(img/sprite-icons.svg);}

.pattern-separator {clear:both; margin: 1.5em auto; border-bottom: 15px solid #ccc;}

.content-chunk {background: #d4e7f0; border-radius: 6px; padding: 1.5em; margin-bottom: 1.5em; color: #333; z-index: 2; position: relative;}

.developer-cta {border: 1px solid #fff; border-radius: 6px; padding: 1.5em; margin-bottom: 1.5em;  z-index: 2; position: relative; background: #b9d9eb /*url(img/bg.svg) top center no-repeat; background-size: cover;*/}
.developer-cta h2 a {}

.cta-grid {
    display: grid;
    width: 100%;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

.cta-grid article {}


.listing-grid {
    display: grid;
    width: 100%;
    column-gap: 10px;
    grid-template-columns: 2em 1fr;
  }

.listing-icon .fa {font-size: 2em;}
	

.listing { 
    margin-bottom: .5em;
}


.success {color: #408334;}
.danger {color: #e2231a;}
.warning {color: #fac351;}

/* .ribbon {background: #003262;} */
.cb-heading {background-color: #fff;}
.cb-heading, .cb-heading h1 {color: #000;}
/* .cb-heading a {color: #b9d9eb;} */
.cb-heading .summary {border: none; padding: 0; background: transparent;}


.swatch-box {border: 1px solid #000; color: #000; margin-bottom: 1.5em;}
.swatch-box .swatch {height: 80px; width: 100%; padding: 1em;}
.swatch-box .values {padding: 1em;}

/* Background used on grid patterns demo */ 
.gray-bg {background: #efefef;}

.code {font-family: Menlo, Monaco, Consolas, "Courier New", monospace; background: #efefef; padding: 2px; font-size: 0.95em;}