.block {
	h2 {}
}

.top-tasks {
}

.follow-us {
	.facebook {}
	.twitter {}
	.youtube {}
	.tumblr {}
}

.related-content {

}

/* Note to Editors Block at the top of News Releases */
#nte {
	background-color: $gray-lighter;
	padding: 1em;
	margin: 1.5em 0;
	color: $gray-darker;
}

.location {
	float: left;
}

/* Homepage Topic Blocks */
#home-topics {margin: 0; padding: 0;}
#home-topics {
	div {min-height: ($line-height-computed * 7);}
	ol {margin: 0 auto 0 0; padding-left: 0; padding-bottom: 0;}
	li {min-height: ($line-height-computed * 7); list-style-type: none; margin: auto 0 0 auto; padding-left: 0; padding-bottom: 0;}
}



@media only screen and (max-width: $screen-sm-max) {
	#home-topics li {min-height: 1em;}
}

.pub-details {
	min-height: 5em !important;
}

// Call to Action

#call-to-action {
	display: block;
  margin: 2.5em auto;
}

#pull-quote {
	padding: 13.5px 27px;
	margin: 0 0 27px;
	border-left: 5px solid $darkblue;
	font-size: $font-size-h2;
}

#broadcast-copy {
	line-height: $line-height-large * 2em;
}

// Document, Document Collection

#meta-publication-type, .pub-details .item-list {@include delimited-list;}

.document-thumbnail-container {
	&:after {
		width: 100px;
		content:'';
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    display: block;
    position: absolute;
    background: black;
    opacity: 0.05;
	}
}

.document-link {
	display: inline-block;
}

.document-link-container {
	position:relative;
	margin:1em 0;
	padding-left:128px;
	min-height:130px;
}

.document-size {
	margin-bottom: 0.5em;
}

.document-title {
	font-size:120%;
	font-weight:normal;
}

.document-thumbnail-container {
	width:100px;
	position:absolute;
	top:0;
	left:0;
	max-width:100px;
}

.document-layout {
	label {font-weight: normal;}
}

#summary, #collection-teaser, #introduction, #dept-homepage-design #what-we-do {
	font-size: $font-size-h3;
	margin: $line-height-computed auto;
	clear: both;
}

.pub-introduction {
	display: block;
	padding-top: $line-height-computed;
	margin-bottom: $line-height-computed;
}
.pub-details {
	margin-bottom: $line-height-computed;
	vertical-align: top;

	ul, li {list-style: none; margin: 0; padding: 0;}

	article {margin-bottom: $line-height-computed;}
	.title {}
	.teaser {}
	.document-type,
	.first-published,
	.document-author,
	.item-list ul {font-size: $font-size-small; display: inline; margin-right: 1.5em;}

}
.pub-label {
	margin-bottom: $line-height-computed;
	h2 {margin-top: 0; padding-top: 0;}
}

#meta-publication-type, #meta-department, #news-release #department, #legislative-acts, #dept-services {
		ul, li {list-style: none; margin: 0; padding: 0;}
		ol, li {list-style: none; margin: 0; padding: 0;}
}

.accessibility-email {
	font-size: $font-size-small;
}

#legislative-acts, #related-information, #minister-link {
	a {
		&:after {
			display: inline-block;
		  font: normal normal normal 14px/1 FontAwesome;
		  font-size: inherit;
		  text-rendering: auto;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
			padding-left: 3px;
			content: '\f08e';}
	}
}


// Department Profile

#social-media-account, #department, #media-contact, #corp-info, #announcements {
	ul, li {list-style: none; margin-left: 0; padding-left: 0;}
}

.about-link {font-size: $font-size-h3; margin-bottom: $line-height-computed; display: block;}

#social-media-account .fa {font-size: 1.5em;}

.corp-info, .corp-info li {list-style: none; margin-left: 0; padding-left: 0;}

.feature-image img {width: 100%; height: auto;}

.profile-details {
	width: 100%; display: block; margin: 0 0 $line-height-computed 0;
	#job-title {
		font-size: $font-size-h3;
	}
	#department {
		font-size: $font-size-h3;
		ul {margin: 0; padding: 0; list-style: none;}
		li {margin: 0; padding: 0; list-style: none;}
	}
}

#services-list ol {
	list-style: none; margin-left: 0; padding-left: 0;
	li {list-style: none; margin-left: 0; padding-left: 0;}
}


@media (max-width: 500px) {
	#home-top-tasks {
		display: block;
		position: relative;
		background-color: lighten($cyan, 47.6%);
		z-index: -1;
		font-size: $font-size-em;
		padding: 2em;

		ul {
			margin-left: 0;
			padding-left: 0;
		}
		li {
			list-style-type: none;
			position: relative;
			width: 100%;
			}
		}
}


@media (min-width: 501px) and (max-width: 767px) {

	#home-top-tasks {
		display: block;
		position: relative;
		background-color: lighten($cyan, 47.6%);
		z-index: -1;
		font-size: $font-size-em;
		padding: 2em;

		ul {
			margin-left: 0;
			padding-left: 0;
		}
		li {
			list-style-type: none;
			position: relative;
			margin: 0 1% 0 0;
			padding-left: 0;
			width: 47%;
			float: left;
		}
	}
}



@media (max-width: 767px) {


	#home-topics {
		div {min-height: ($line-height-computed * 1);}
	}


}

@media (min-width: 768px) {


		#home-top-tasks {
			position: absolute;
			top: 20px;
			left: 62.5%;
			background: white;
			color: $gray;
			text-align: left;
			font-size: $font-size-small;
			list-style-type: none;
			padding: 0.25em 1em;
			z-index: 2;
			ul {
				margin-left: 0;
				padding-left: 0;
			}
			li {
				list-style-type: none;
				margin-left: 0;
				padding-left: 0;
			}
		}

}
#home-features {
	background-color: lighten($cyan, 47.6%); display: block; clear: both; margin-top: $line-height-computed; padding: $line-height-computed auto;}

#features, #about-government {display: block; clear: both; margin: $line-height-computed auto;}

#home-about-government {
	display: block;
	h2 {font-size: $font-size-h1; color: $darkestblue;}
	h3 {font-size: $font-size-h2; color: $darkestblue; clear: both; display: block; margin-top: $line-height-computed;}
}

#about-government {
	padding: $line-height-computed auto; display: block;
	li {
		list-style-type: none;
		display: block;
	}
}


// Universal Survey Block //

#feedback {clear: both; display: block; background: $darkestblue; padding: $line-height-computed; margin-top: 2em; color: #fff; font-size: $font-size-large;}
#feedback a {color: $yellow;}
#feedback a:hover, #feedback a:focus {color: #fff;}

// About the Project page //


.project-introduction {font-size: 1.25em; clear: both;}
.project-highlights {font-size: 1.25em; clear: both; background-color: $blue; color: #fff; padding: $line-height-computed;}
.project-highlights h2 {color: #fff; margin: 0 auto 1.5em auto;}
.project-highlights .icon {text-align: center;}
.project-highlights .fa {font-size: 2.5em; min-height: 1.5em;}
.project-centered-button {clear: both; margin: $line-height-computed auto; text-align: center;}
.project-details {clear: both;}
