@font-face {
	font-family: 'robotoregular';
	src: url('/clf/saltire/fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
	src: url('/clf/saltire/fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/clf/saltire/fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
		 url('/clf/saltire/fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
		 url('/clf/saltire/fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
	font-family: 'robotoitalic';
	src: url('/clf/saltire/fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot');
	src: url('/clf/saltire/fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/clf/saltire/fonts/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'),
		 url('/clf/saltire/fonts/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'),
		 url('/clf/saltire/fonts/roboto_italic_macroman/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
}

@font-face {
	font-family: 'robotolight';
	src: url('/clf/saltire/fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
	src: url('/clf/saltire/fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/clf/saltire/fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
		 url('/clf/saltire/fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
		 url('/clf/saltire/fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
}

@font-face {
	font-family: 'robotobold';
	src: url('/clf/saltire/fonts/roboto_bold_macroman/Roboto-bold-webfont.eot');
	src: url('/clf/saltire/fonts/roboto_bold_macroman/Roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/clf/saltire/fonts/roboto_bold_macroman/Roboto-bold-webfont.woff') format('woff'),
		 url('/clf/saltire/fonts/roboto_bold_macroman/Roboto-bold-webfont.ttf') format('truetype'),
		 url('/clf/saltire/fonts/roboto_bold_macroman/Roboto-bold-webfont.svg#robotobold') format('svg');
}
