@font-face {
	font-family: 'robotoregular';
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_regular/Roboto-Regular-webfont.eot');
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
	font-family: 'robotoitalic';
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_italic/Roboto-Italic-webfont.eot');
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_italic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_italic/Roboto-Italic-webfont.woff') format('woff'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_italic/Roboto-Italic-webfont.ttf') format('truetype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_italic/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
}

@font-face {
	font-family: 'robotolight';
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_light/Roboto-Light-webfont.eot');
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
}

@font-face {
	font-family: 'robotobold';
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_bold/Roboto-bold-webfont.eot');
	src: url('http://novascotia.ca/clf/ignition/fonts/roboto_bold/Roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_bold/Roboto-bold-webfont.woff') format('woff'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_bold/Roboto-bold-webfont.ttf') format('truetype'),
		 url('http://novascotia.ca/clf/ignition/fonts/roboto_bold/Roboto-bold-webfont.svg#robotobold') format('svg');
}
