@font-face {
	font-family: 'robotoregular';
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot');
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
	font-family: 'robotoitalic';
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_italic/Roboto-Italic-webfont.eot');
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_italic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_italic/Roboto-Italic-webfont.woff') format('woff'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_italic/Roboto-Italic-webfont.ttf') format('truetype'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_italic/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
}

@font-face {
	font-family: 'robotolight';
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_light/Roboto-Light-webfont.eot');
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_light/Roboto-Light-webfont.woff') format('woff'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
			 	url('https://novascotia.ca/clf/fonts/roboto/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
}

@font-face {
	font-family: 'robotobold';
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_bold/Roboto-bold-webfont.eot');
	src: 	url('https://novascotia.ca/clf/fonts/roboto/roboto_bold/Roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 		url('https://novascotia.ca/clf/fonts/roboto/roboto_bold/Roboto-bold-webfont.woff') format('woff'),
		 		url('https://novascotia.ca/clf/fonts/roboto/roboto_bold/Roboto-bold-webfont.ttf') format('truetype'),
		 		url('https://novascotia.ca/clf/fonts/roboto/roboto_bold/Roboto-bold-webfont.svg#robotobold') format('svg');
}


@font-face {
	font-family: 'font-awesome';
	src: 	url('https://novascotia.ca/clf/fonts/font-awesome/fonts/fontawesome-webfont.eot');
	src: 	url('https://novascotia.ca/clf/fonts/font-awesome/fonts/fontawesome-webfont?#iefix') format('embedded-opentype'),
		 		url('https://novascotia.ca/clf/fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
		 		url('https://novascotia.ca/clf/fonts/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
		 		url('https://novascotia.ca/clf/fonts/font-awesome/fonts/fontawesome-webfont.svg#robotobold') format('svg');
}
