<!-- About -->

<div class="container">
	<div class="row">
		<h1>About the {{ content.field_title }}
	</div>
	<div class="row">
		<section id="dept-profile" class="col-xs-12 col-sm-8">

			<h2>What we do</h2>
			{{ content.field_what_we_do }}

			<h2>Our responsibilities</h2>
			{{ content.field_responsibilities }}

			<h2>Who we are</h2>
			{{ content.field_who_we_are }}

		</section>
	</div>
</div>
