<!-- Legislation -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<h1>{{ node.field_title }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8">

			{{ node.field_related_legislation_intro }}

			<!-- List that loops and dumps out an unordered list of links to Leg -->

			{{ node.field_related_legislation_and_re }}

		</div>
	</div>
</div>
